<div class="footer">
  <hr>
  <div class="container mensaje">
    <a>Hoteles y Alojamientos en oferta</a>
    <br>
    <br>
    <a>En Almundo encontrarás las mejores ofertas en hoteles, contamos con oportunidades en todo tipo de alojamientos mejorando
      cualquier presupuesto: hoteles de lujo, resorts, all inclusive, hoteles para adultos, posadas, apart hotels, hoteles
      baratos y muchos otros tipos de alojamientos económicos. Ya sea para hospedarte solo, en pareja o en familia, en Almundo
      conseguirás las mejores ofertas y opciones. Vive vacaciones, viajes de placer o negocios en los mejores destinos del
      planeta pagando el precio más bajo.</a>
  </div>
  <br>
  <div class="container mensaje">
      <div class="row">
          <div class="col-md-3">
           <a>HOTELES Y ALOJAMIENTOS EN COLOMBIA</a>
           <h6>HOTELES EN MELGAR</h6>
           <h6>HOTELES EN LA ISLA DE SAN ANDRÉS</h6>
           <h6>HOTELES EN LA ISLA EN CARTAGENA</h6>
           <h6>HOTELES EN LA ISLA EN SANTA MARTA</h6>
          </div>
          <div class="col-md-3">
              <a>HOTELES Y ALOJAMIENTOS EN MÉXICO</a>
              <h6>HOTELES EN CANCÚN</h6>
              <h6>HOTELES EN CIUDAD DE MÉXICO</h6>
              <h6>HOTELES EN GUADALAJARA</h6>
              <h6>HOTELES EN PLAYA DEL CARMEN</h6>
          </div>
          <div class="col-md-3">
              <a>HOTELES Y ALOJAMIENTOS EN EUROPA</a>
              <h6>HOTELES EN MADRID</h6>
              <h6>HOTELES EN PARÍS</h6>
              <h6>HOTELES EN ROMA</h6>
              <h6>HOTELES EN DUBLÍN</h6>
          </div>
          <div class="col-md-3">
              <a>HOTELES Y ALOJAMIENTOS EN DESTINOS ATRACTIVOS</a>
              <h6>HOTELES EN PANAMÁ</h6>
              <h6>HOTELES EN RÍO DE JANEIRO</h6>
              <h6>HOTELES EN BUENOS AIRES</h6>
          </div>
        </div>
        <hr>
        <h6>Almundo.com | SAS NIT 900844720-1 | Calle 26 # 92-32 Edificio G2, Piso 3 Bogotá, Colombia | (+57) 3182047246 | RNT 39681 / 39947</h6>
  </div>
  <hr>
</div>